<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Corona Virus Tracker Apllication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<p th:text="${testName}"></p>
<table>
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases reported</th>
    </tr>
    <tr th:each="locationState : ${locationStates}">
        <td th:text="${locationState.state}">Onions</td>
        <td th:text="${locationState.country}">2.41</td>
        <td th:text="${locationState.latestTotalCases}">0</td>
    </tr>
</table>

</body>

</html>
